/* FONT */
@font-face {
  font-family: Montaga ;
  src: url("./assets/fonts/Montaga/Montaga-Regular.ttf");
}
@font-face {
  font-family: Playfair ;
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: Play ;
  src: url("./assets/fonts/Play/Play-Regular.ttf");
}
@font-face {
  font-family: PlayBold ;
  src: url("./assets/fonts/Play/Play-Bold.ttf");
}



/*--------- Text Style -----------*/
.montaga{
  font-family:  'Montaga', serif;
  font-weight: 400;
  
}
.playfair{
  font-family: 'Playfair' ;

}
.play{
  font-family: 'Play';
 
}
.play-bold{
  font-family: 'PlayBold';
 
}
.text-style{
  color: white;
  font-style: italic;
  letter-spacing: 6px;
  font-size: 1.3rem;
  font-weight: 100;
}
.name2{
  color: white;
  font-size: 3.5rem;
}

.title2{
  color: #b6b6b6;
  font-size: 1.5rem;
}
.project-title{
  font-size: 1.5rem;
  color: white;
  margin:0 0 1% 0;
 
}

.project-description{
  font-size: 1.1rem;
  color: white;
  margin-top: 1%;
}
.addMargin{
  margin: 2%;
}

/*****tag******* */
.school{
  background-color: #A14343;
  border: 2px solid  #A14343;

}
.collab{
  background-color: #BA9E30;
  border: 2px solid  #BA9E30;
}
.personal{
  background-color: #BA9E30;
  border: 2px solid  #BA9E30;
}
.done{
  background-color: #A14343;
  border: 2px solid  #A14343;

}
.ongoing{
  background-color: #BA9E30;
  border: 2px solid  #BA9E30;
}


/*------------ UNIVERSAL------------- */
#section2,
#section3,
#section4,
#section5{
  display: none;
}

.pt-page-moveToBottomEasing {
	-webkit-animation: moveToBottom .7s ease-in-out both;
	animation: moveToBottom .7s ease-in-out both;
}


/*-----SECTION 1-------*/
@font-face {
  font-family: "Eyesome Script";
  src: url("./assets/fonts/Eyesome/Eyesome\ Script.otf");
}
@font-face {
  font-family: "Eyesome Regular";
  src: url("./assets/fonts/Eyesome/Eyesome\ Regular.otf");
}


.bg-green{
  background-color: #8c703c;
  color: white;
  
}
.bg-pink{
  background-color:#eecfd4;
  color: #3b3500;
}
.bg-olive{
  background-color: #3b3500;
}
.eyesom-script-fontFamily{
  font-family: "Eyesome Script";

}
.eyesom-regular-fontFamily{
  font-family: "Eyesome Regular";
}
*{
  z-index:40 ;
}

#title-header span {
  font-size: 7rem;
  position: absolute;
  width: auto;
  top: 0;
  left: 40%;
  color: white;
  z-index: 100;
  font-family: ;
}

#image-div{
  background-image: url('./assets/images/janna1.jpg');
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* From Uiverse.io by Cevorob */ 
button {
 position: relative;
 height: 70px;
 padding: 0 50px;
 border: 2px solid #000;
 background: rgba(232, 232, 232, 0.7);
 user-select: none;
 white-space: nowrap;
 transition: all .05s linear;
 font-family: inherit;
 font-size: 20px;
}

button:before, button:after {
 content: "";
 position: absolute;
 background: rgba(232, 232, 232, 0.7);
 transition: all .2s linear;
}

button:before {
 width: calc(100% + 6px);
 height: calc(100% - 16px);
 top: 8px;
 left: -3px;
}

button:after {
 width: calc(100% - 16px);
 height: calc(100% + 6px);
 top: -3px;
 left: 8px;
}

button:hover {
 cursor: crosshair;
}

button:active {
 transform: scale(0.95);
}

button:hover:before {
 height: calc(100% - 32px);
 top: 16px;
}

button:hover:after {
 width: calc(100% - 32px);
 left: 16px;
}

button span {
 font-size: 20px;
 z-index: 3;
 position: relative;
 font-weight: 600;
  letter-spacing: 1px;
}

.overlay-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101; 
}


/*--- SECTION 2 AND 6--------------*/
.main-container{
  background-image: url("./assets/images/bg1.jpeg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.right-div, .main-container {
  transition: transform 1s ease-out; 
}

.left-div{
  flex: 2;
  display: flex;
  flex-direction: column; 
}

.left-upper-div{
  flex: 3;
}

.left-lower-div{
  flex: 1;
  padding: 10%;

}
.name2-div{
  padding: 1%;
}

.icon-div{
  display: flex;
  gap: 8%;
}
a:visited,
 a{ 
  color: #ffffff;
}
 a:hover{
  color: #ae995d;
}

.inner-left-lower-div{
  border-left: 0.5rem solid #FF7941;
  padding: 8% 5%;
  max-height: 100%;
}
.right-lower-item{
  width: 95%;
  
  padding: 3%;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  margin: 2% ; 
  
}

#section4 .right-lower-item{
  width: 18%;
  
}

.tagInfos{
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.tagInfo{ 
  padding: 1%;  
  border-radius: 10px;
  width: fit-content;
  font-size: 0.9rem;
  color: white;

}

.active{
  display: block;
}
.section{
  cursor: pointer;
}

.pt-page-moveToTopEasing {
	-webkit-animation: moveToTop .7s ease-in-out both;
	animation: moveToTop .7s ease-in-out both;
}

.tech-stack{
  display: flex;
  gap: 1%;
}

.tech-stack-item{
  background-color:rgba(182, 182, 182, 0.5);
  padding: 1% 2%;
  border-radius: 10px;
  color: rgb(250, 250, 250);
}

/* SECTION 1*/



/*----------- SECTION 2 - 6-------*/
/*----SECTION 2-----*/

.right-div{
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.right-upper-div{
  flex: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.right-upper-item{
  font-size: 6rem;
  color: white;
  margin-bottom: 2%;
}
.right-upper-item:hover{
  font-style: italic;
  transform: translateX(10px);
  cursor: pointer;
}

.right-lower-div{
  flex: 1;
  display: flex;
  align-items: center;
  
}


/*---------Section3 3-6------*/


#section3 .right-upper-div{
  flex: 1;
 
}

#section3 .right-lower-div,
#section4 .right-lower-div,
#section5 .right-lower-div,
#section6 .right-lower-div{
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
  overflow-y: auto;
  scrollbar-width: none;

}
.project-links{
  display: flex;
  gap: 10%;
  margin-top: 2%;
}

/*SECTION4 */
#section4 .right-upper-div{
  flex: 0;
}

#section4 .right-lower-div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2%;
  align-items: center;
  justify-items: center;
}
#section4 .right-lower-item{
  width: 70%;
}

.skill-title{
  text-align: center;
  margin: 2% 0;
  color: white;

}
.item-logo{
  text-align: center;
}
.item-statement{
  font-size: 0.8rem;
  text-align: center;
  color: white;
}
.item-progress-bar{
  width: 100%;
  height: 1rem;
  border:  solid #FF7941;
  border-radius: 15px;
  margin: 5% 0;
  position: relative;
  
}
.item-progress-bar::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--progress, 0%); 
  background-color: rgba(30, 29, 33,1);
  border-radius: 15px;
 
}
/*SECTION5 */

#section5 .right-upper-div{
  flex: 1;
}
#section5 .right-lower-item{

  padding: 3%;
}
#section5 .tagInfos{
  margin: 1% 0;
}





#section3 .right-lower-item{
  width: 95%;
 
  padding: 3%;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  margin-bottom: 2%; 
  display: flex;
  
}
.project-left-div{
  flex: 3;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-right-div{
  flex: 1;
  padding: 1%;
  background-color: #ae995d;
}
.project-title{
  font-size: 1.5rem;
 
}
.project-categories{
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.project-category{ 
  padding: 1%;  
  border-radius: 10px;
  width: fit-content;
  font-size: 0.9rem;
}
.project-description{
  font-size: 1.1rem;
}


/* Keyframe animations for moving from bottom */
@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}


