/* FONT */
@font-face {
  font-family: Montaga ;
  src: url("../fonts/Montaga/Montaga-Regular.ttf");
}
@font-face {
  font-family: Playfair ;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}



.montaga{
  font-family:  'Montaga', serif;
  font-weight: 400;
  
}
.playfair{
  font-family: 'Playfair' ;

}


/* SECTION 1*/



/* SECTION 2 - 6*/
#section2{
  display: none;
}
.main-container{
  background-image: url("/assets/images/bg1.jpeg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.right-div, .main-container {
  transition: transform 1s ease-out; 
}


.left-div{
  flex: 2;
  display: flex;
  flex-direction: column;
  
}

.left-upper-div{
  flex: 3;
}

.left-lower-div{
  flex: 1;
  padding: 10%;

}
.name2-div{
  padding: 1%;
}
.name2{
  color: white;
  font-size: 3.5rem;

}

.title2{
  color: #b6b6b6;
  font-size: 1.5rem;
}
.icon-div{
  display: flex;
  gap: 8%;
}
.icon-div:visited,
.icon-div a{ 
  color: #B3B3B3;
}
.icon-div a:hover{
  color: #ae995d;
}

.inner-left-lower-div{
  border-left: 0.5rem solid #FF7941;
  padding: 8% 5%;
  max-height: 100%;
}

.right-div{
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.right-upper-div{
  flex: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.right-upper-item{
  font-size: 6rem;
  color: white;
  margin-bottom: 2%;
}
.right-upper-item:hover{
  font-style: italic;
  transform: translateX(10px);
  cursor: pointer;
}

.right-lower-div{
  flex: 1;
  display: flex;
  align-items: center;
  
}
.right-lower-item{
  color: white;
  font-style: italic;
  letter-spacing: 6px;
  font-size: 1.3rem;
  font-weight: 100;
}

/*Section3 */

#section3{
  display: block;
}
#section3 .right-div{
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 2%;
}


