/* FONT */
@font-face {
  font-family: Montaga ;
  src: url("../fonts/Montaga/Montaga-Regular.ttf");
}
@font-face {
  font-family: Playfair ;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: Play ;
  src: url("../fonts/Play/Play-Regular.ttf");
}
@font-face {
  font-family: PlayBold ;
  src: url("../fonts/Play/Play-Bold.ttf");
}



.montaga{
  font-family:  'Montaga', serif;
  font-weight: 400;
  
}
.playfair{
  font-family: 'Playfair' ;

}
.play{
  font-family: 'Play';
 
}
.play-bold{
  font-family: 'PlayBold';
 
}

/*categories */
.school{
  background-color: #A14343;
  border: 2px solid  #A14343;

}
.colab{
  background-color: #BA9E30;
  border: 2px solid  #BA9E30;

}



/* SECTION 1*/



/* SECTION 2 - 6*/
#section2{
  display: none;
}
.main-container{
  background-image: url("/assets/images/bg1.jpeg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.right-div, .main-container {
  transition: transform 1s ease-out; 
}


.left-div{
  flex: 2;
  display: flex;
  flex-direction: column;
  
}

.left-upper-div{
  flex: 3;
}

.left-lower-div{
  flex: 1;
  padding: 10%;

}
.name2-div{
  padding: 1%;
}
.name2{
  color: white;
  font-size: 3.5rem;

}

.title2{
  color: #b6b6b6;
  font-size: 1.5rem;
}
.icon-div{
  display: flex;
  gap: 8%;
}
a:visited,
 a{ 
  color: #ffffff;
}
 a:hover{
  color: #ae995d;
}

.inner-left-lower-div{
  border-left: 0.5rem solid #FF7941;
  padding: 8% 5%;
  max-height: 100%;
}

.right-div{
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.right-upper-div{
  flex: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.right-upper-item{
  font-size: 6rem;
  color: white;
  margin-bottom: 2%;
}
.right-upper-item:hover{
  font-style: italic;
  transform: translateX(10px);
  cursor: pointer;
}

.right-lower-div{
  flex: 1;
  display: flex;
  align-items: center;
  
}
.right-lower-item{
  color: white;
  font-style: italic;
  letter-spacing: 6px;
  font-size: 1.3rem;
  font-weight: 100;
}

/*Section3 */

#section3{
  display: block;
}
#section3 .right-upper-div{
  flex: 1;
 
}

#section3 .right-lower-div{
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  overflow-y: auto;
  scrollbar-width: none;

}

#section3 .right-lower-item{
  width: 95%;
  height: 50%;
  padding: 3%;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  margin-bottom: 2%; 
  display: flex;
  
}
.project-left-div{
  flex: 3;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-right-div{
  flex: 1;
  padding: 1%;
  background-color: #ae995d;
}
.project-title{
  font-size: 1.5rem;
 
}
.project-categories{
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.project-category{ 
  padding: 1%;  
  border-radius: 10px;
  width: fit-content;
  font-size: 0.9rem;
}
.project-description{
  font-size: 1.1rem;
}


